.react-tooltip-lite {
  background: #000;
  color: #fff;
  font-size: 14px;
  word-wrap: break-word;
  word-break: break-word;
  border-radius: 10px;
  max-width: 400px !important;
}

.react-tooltip-lite-up-arrow {
  border-top: 10px solid #000;
}

.react-tooltip-lite-down-arrow {
  border-bottom: 10px solid #000;
}

.react-tooltip-lite-right-arrow {
  border-right: 10px solid #000;
}

.react-tooltip-lite-left-arrow {
  border-left: 10px solid #000;
}